@import 'other';

.main{
    min-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}
#navbar{
    h2{
        color: #fff;
    }
    span{
        background: #fff;
    }
}
#as_btn{
    background: #2293a4;
    cursor: pointer;
    a{color: #fff;}
    &:hover{
        &::before{background: #187886;}
    }
}
.app{
    min-height: 100vh;
    max-width: 100vw;
    @include flexbox;
    justify-content: flex-start;
    &_home,&_started,&_quiz,&_result{
        min-height: 100vh;
        max-height: 100vh;
        min-width: 100vw;
        padding: 0 5vw;
        background: linear-gradient(-35deg,#2293a4 0% 30%,#fff 30% 70%,#2293a4 70% 100%);
        @include flexbox;
        flex-direction: column;
        text-align: center;
        overflow-y: scroll;
        overflow-x: hidden;
        p{
            margin: 10px 0;
            color: #00000090;
        }
    }
    &_started,&_result{
        background: linear-gradient(35deg,#2293a4 0% 30%,#fff 30% 70%,#2293a4 70% 100%);
    }


// home
&_home{
    justify-content: flex-start;
    #home,#features,#about,#contact{
        min-height: 100vh;
        @include flexbox;
        flex-direction: column;
    }
}



    &_started{
        padding: 0 5vw;
        form{
            width: 100%;
            @include flexbox;
            flex-direction: column;
            fieldset{
                padding: 0 5px;
                width: 80%;
                border-radius:10px;
                border:2px solid #00000080;
                outline: none;
                legend{
                    margin-left: 10px;
                    font-weight: 700;
                    text-align: left;
                    color: #00000080;
                }
                input{
                    width: 100%;
                    padding: 5px;
                    border:none;
                    outline: none;
                    font-size: 16px;
                    font-weight: 500;
                    background: transparent;
                    &::placeholder{
                        transition: 2s;
                    }
                    &:focus::placeholder{
                        transform: translateX(-100%);
                    }
                }
                &:not(:first-child){
                    margin-top: 10px;
                }
            }
            #as_btn{
                margin-top: 20px;
            }
        }
    }


    // quiz
    .quiz-box{
        padding: 20px;
        width: 100%;
        background: #f1f1f180;
        backdrop-filter: blur(10px);
        border-radius: 5px;
        @include flexbox;
        flex-direction: column;
        transform:rotateX(0deg);
        form{
            margin: 10px 0;
            width: 100%;
            align-self: flex-start;
            label{
                height: 40px;
                width: 100%;
                padding: 10px;
                background: #e5e7e780;
                border-radius: 5px;
                @include flexbox;
                justify-content: flex-start;
                h4{
                    margin-left: 10px;
                }
                input{
                    -webkit-appearance: none;
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    transition: 0.5s;
                    box-shadow: 0 0 0 2.5px #2293a4;
                    &:checked{
                        box-shadow: 0 0 0 2.5px #2293a4,
                        inset 0 0 0 2px #fff, 
                        inset 0 0 0 10px #2293a4;
                    }
                }
                &:not(:last-child){
                    margin-bottom: 5px;
                }
            }
        }

        @keyframes endQuiz {
            0%{transform: translateY(0px);}
            50%{transform: translateY(-50px);opacity: 1;}
            100%{transform: translateY(300px);opacity: 0;}
        }
    }    

    &_home,&_started{display: none;}
}


@media (min-width:758px) {
    .quiz-box{
        max-width: 50vw;
    }
}
